{% extends "base.html" %}

{% block app_content %}
    <div id="main">
        <div class="post">
            <h1 class="post-title"><a href="main.about_me">About Me</a></h1>
            <div class="social-bar">
                <table>
                    <tbody>
                        <tr>
                            <td><div class="social-box" style="padding-top: 8px;">Facebook</div></td>
                            <td><div class="social-box" style="padding-top: 8px;">LinkedIn</div></td>
                            <td><div class="social-box" style="padding-top: 8px;">Twitter</div></td>
                            <td><div class="social-box" style="padding-top: 8px;">Google</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="post-body">Hi Im Vilius</div>
            <div class="social-bar">
                <table>
                    <tbody>
                        <tr>
                            <td><div class="social-box" style="padding-top: 8px;">Facebook</div></td>
                            <td><div class="social-box" style="padding-top: 8px;">LinkedIn</div></td>
                            <td><div class="social-box" style="padding-top: 8px;">Twitter</div></td>
                            <td><div class="social-box" style="padding-top: 8px;">Google</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}