<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row post">
                <h4>{{ post.title }}</h4>
<pre class="pre">{{ post.body }}</pre>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('admin.post', id=post.id) }}">
                    <img class="img" src="{{ url_for('static', filename='gear.png') }}">
                    </a>
                {% endif %}
            </div>
        </div>
    </body>
</html>