{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="main">
                    <div class="post">
                        <p class="date">
                            <p>{{ moment(about_me_description.timestamp).format("LL") }}</p>>
                        </p>
                        <h1 class="post-title"></h1>
                        <div class="social-bar"></div>
                        <div class="social-bar"></div>
                        <div class="post-body"></div>
                        <div class="social-bar"></div>
                        <div class="page"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
{% endblock %}